{% extends "base.html" %}

{% block title %}TS - My Sheds{% endblock %}

{% block css %}
{{ block.super }}

{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>My Sheds</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <a href="{% url 'messaging.views.messages_view' %}">
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Back to Inbox
            </button>
        </a>
    </div>
    <br>
    {% if message %}
    <div class="row panel panel-default">
        <div class="panel-heading">
            <a style="float: right;" type="button" class="btn btn-primary" data-toggle="modal"
               data-target="#NewMessageModal">
                Reply <span class="glyphicon glyphicon-share-alt"></span>
            </a>
            <h4>Subject: {{ message.subject }}</h4>
            <a href="{% url 'messaging.views.message_delete_view' message.id %}" style="float: right;" type="button"
               class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
            <h4>From: {{ message.msg_from.username }}</h4>
        </div>
        <div class="panel-body">
            <p>{{ message.body }}</p>
        </div>
    </div>
    <!-- Reply Modal -->
    {% include "includes/new_message.html" with msg_to=message.msg_from subject=message.subject %}
    {% endif %}
</div>
{% endblock %}