{% extends "base.html" %}

{% block title %}TS - My Sheds{% endblock %}

{% block css %}
{{ block.super }}

{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>My Sheds</h1>
	</div>
</div>
<div class="container">
	{% if shedLocations %}
	{% for shedLocation in shedLocations %}
		<div class="row panel panel-default">
			<div class="panel-heading"><a href="{% url 'sharetools.views.shed_view' shedLocation.id %}"><h1>{{ shedLocation.name }}</h1></a></div>
			<div class="panel-body">
				<p>{{ shedLocation.description }}</p>
				<div class="btn-group">
					{% if shedLocation.owner == user %}
					<button type="button" class="btn btn-danger">Delete Shed</button>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
	{% else %}
		<div class="well well-lg">
			<h3 class="text-center text-muted">You have no sheds :(</h3>
		</div>
	{% endif %}
	<div class="row">
			<a href="#"><button type="button" class="btn btn-primary btn-block">Create New Shed</button></a>
	</div>
</div>
{% endblock %}