{% extends "base.html" %}

{% block title %}TS - My Sheds{% endblock %}

{% block css %}
{{ block.super }}

{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>My Sheds</h1>
	</div>
</div>
<div class="container">
	<div class="button-group">
		<a href="{% url 'sharetools:makeShed' %}"><button type="button" class="btn btn-primary">Create New Shed</button></a>
	</div>
	{% for membership in memberships %}
		<div class="row panel panel-default">
			<div class="panel-heading">
				<h1>
					{% if membership.location.isPrivate %}
					<i class="fa fa-lock"></i>
					{% endif %}
					<a href="{% url 'sharetools:shed' membership.location.id %}">
					{{ membership.location.name }}
	                </a>
                </h1>
            </div>
			<div class="panel-body">
				<p>{{ membership.location.description }}</p>
			</div>
			<div class="panel-footer">
				{% if membership.role == membership.MODERATOR or membership.role == membership.ADMIN %}
				<a href="{% url 'sharetools:shedAdmin' membership.location.id %}"><buttom type="buttom" class="btn btn-warning">Moderate</buttom></a>
				{% endif %}
			</div>
		</div>
	{% empty %}
		<div class="well well-lg">
			<h3 class="text-center text-muted">You have no sheds :(</h3>
		</div>
	{% endfor %}
</div>
{% endblock %}