{% extends "base.html" %}

{% block title %}Shed{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>The Hub</h1>
	</div>
</div>
	<div id="map"></div>
<div class="container">
	<div id="search">
		<form name="search" method="post">
			{% csrf_token %}
			<h3 class="text-center text-muted">Search</h3>
			<div class="input-group">
				<input type="text" name="srchinput" class="form-control" placeholder="Type a tool" required>
				<span class="input-group-btn">
					<button class="btn btn-success" type="button submit">Search</button>
				</span>
			</div>
		</form>
	</div>
	<hr class="hr-big">
	<div id="quick-start" class="row">
		<div id="quick-start-sheds" class="col-xs-6 col-sm-3 text-center">
			<a href="{% url 'sharetools:mySheds' %}">
				<i class="fa fa-home fa-5x"></i>
				<p>Sheds</p>
			</a>
		</div>
		<div id="quick-start-shares" class="col-xs-6 col-sm-3 text-center">
			<a href="{% url 'sharetools:shares' %}">
				<i class="fa fa-tag fa-5x"></i>
				<p>Shares</p>
			</a>
		</div>
		<div id="quick-start-tools" class="col-xs-6 col-sm-3 text-center">
			<a href="{% url 'sharetools:myTools' %}">
				<i class="fa fa-gavel fa-5x"></i>
				<p>Tools</p>
			</a>
		</div>
		<div id="quick-start-profile" class="col-xs-6 col-sm-3 text-center">
			<a href="{% url 'sharetools:myProfile' %}">
				<i class="fa fa-user fa-5x"></i>
				<p>Profile</p>
			</a>
		</div>
	</div>
	<hr class="hr-big">
	<div class="row">
		<div class="col-md-5">
			<h2>Recent Tools</h2>
			<ul class="list-group">
			{% for asset in assets %}
			<li class="list-group-item">{% include 'includes/assetBlock.html' %}</li>
			{% empty %}
			<div class="well well-lg">
				<h3 class="text-center text-muted">There are no recent tools :(</h3>
			</div>
			{% endfor %}
			</ul>
		</div>
		<div class="col-md-5 col-md-offset-2">
			<h2>Recent Sheds</h2>
			<ul class="list-group">
			{% for location in locations %}
			<li class="list-group-item">{% include 'includes/locationBlock.html' %}</li>
			{% empty %}
			<div class="well well-lg">
				<h3 class="text-center text-muted">There are no recent sheds :(</h3>
			</div>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
{% endblock %}
