{% extends "base.html" %}

{% block title %}TS - {{ user.username }}'s profile{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container text-center">
		<img class="img-circle img-profile" src="{{ avatarURL }}">

		<div>
			<h1>{{ userProfile.user.username }}</h1>
			<p>{{ userProfile.user.first_name }} {{ userProfile.user.last_name }}</p>
			<p>{{ userProfile.user.email}}</p>
			<p>{{ userProfile.zipcode}}</p>
		</div>
	</div>
</div>
<div class="container">
	{% if userProfile.user.username != user.username %}
	<p><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#NewMessageModal">Message</a></p>
	{% include "includes/new_message.html" with msg_to=userProfile.user.username %}
	{% endif %}
	<h2 class="text-center">User FeedBack</h2>
	<h2 class="text-center text-muted">
	{% if userProfile.getNumVotes > 0 %}
		{% if userProfile.votePercent > 70 %}
		<span class="glyphicon glyphicon-ok-sign"></span>
		{% elif userProfile.votePercent > 30 %}
		<span class="glyphicon glyphicon-adjust"></span>
		{% else %}
		<span class="glyphicon glyphicon-remove-sign"></span>
		{% endif %}
		({{ userProfile.getNumVotes }} : {{userProfile.votePercent }}%)
	{% else %}
	{% endif %}
	</h2>
	{% if ratings %}
	<table class="table">
		<col width="50%">
		<col width="50%">
		<thead>
			<th>Outcome</th>
			<th>Rating</th>
		</thead>
		{% for sc in ratings %}
		<tbody>
			<tr>
				<td>
				{% if sc.rated == 1 %}
					Positive
				{% else %}
					Negative
				{% endif %}
				</td>
				<td>
					{{sc.comments}}
				</td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
	{% endif %}
</div>

{% endblock %}