{% extends "base.html" %}

{% block title %}TS - Tool{% endblock %}

{% block css %}
{{ block.super }}

{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Tool Overview</h1>
	</div>
</div>
<div class="container">
    <div class="row panel panel-default">
        <div class = "panel-heading">
		<h1> 	{{ asset.name }} - a {{asset.type.name}} owned by
				<a href="{% url 'profile' user.username %}">
				{{ asset.owner }}
				</a>
        </h1></div>
		
        <ul class = "list-group">
		
			<li class="list-group-item">
			<h4>Availability:</h4>
			{% if shared %}
			
			<font color="red">Currently borrowed by 
		
			<a href="{% url 'profile' shared.borrower.username %}">
			{{shared.borrower.username}}
			</a>
		
			until {{shared.returnDate}}
			</font>			
	
			{% else %}
			
			<font color="green">This {{asset.type}} tool is available now
			</font>
			
			{% endif %}
			</li>
			<li class="list-group-item"><h4>Type:</h4><b>{{ asset.type.name }}</b> - {{asset.type.description}}</li>
            <li class="list-group-item"><h4>Description:</h4>{{ asset.description }}</li>
			<li class="list-group-item"><h4>Location:</h4>{{ asset.location }}</li>

		</ul>
		
		<div class="panel-footer">
            <div class="btn-group">

                <a href="{% url 'shed' asset.location.id %}">
                    <button type="button" class="btn btn-primary">Visit Shed</button>
                </a>
				
				{% if asset.owner == user %}
				
				<a href="{% url 'toolDeletion' asset.id %}">
                    <button type="button" class="btn btn-danger">Delete Tool</button>
                </a>

				{% else %}
				
				{% if not shared %}
				<a href="{% url 'newcontract' asset.id %}">
                <button type="button" class="btn btn-primary">Borrow</button>
                </a>
				{% endif %}
				
				{% endif %}
				
            </div>
		</div>
        </div>
    </div>


</div>
{% endblock %}