{% extends "base.html" %}

{% block title %}TS - Message Center{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container" align="left">
        <h1>My Messages</h1>
    </div>
</div>
<body>
<a type="button" class="btn btn-primary" href="">New Message</a>
<br><br>
{% if user_messages %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Messages</div>

    <!-- List -->
    <ul class="list-group">
        <tr>
            {% for msg in user_messages %}
            <li class="list-group-item">
                {% if not msg.read %}
                <span class="badge">Unread</span>
                <b>
                {% endif %}
                {{ msg.subject }}
                {% if not msg.read %}
                </b>
                {% endif %}
            </li>
            {% endfor %}
        </tr>
    </ul>
</div>
{% endif %}

</body>
{% endblock %}