{% load staticfiles %}

{% load message_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}description text{% endblock %}">
    <meta name="author" content="toolshare inc.">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
</head>
    <title>{% block title %}Tool Share{% endblock %}</title>

    {% block css %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-custom navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'sharetools:index' %}">
                    <i class="fa fa-archive"></i>  <span class="light">Tool</span> Share
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'messaging:messages' %}">
                            <span class="badge">
                            {% unread_message_count user %}
                            </span>
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'sharetools:mySheds' %}"><i class="fa fa-home"></i> Sheds</a>
                    </li>
                    <li>
                        <a href="{% url 'sharetools:shares' %}"><i class="fa fa-tag"></i> Shares</a>
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'sharetools:myTools' %}" data-toggle="dropdown"><i class="fa fa-gavel"></i> Tools <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'sharetools:newTool' %}">Make New</a>
                                <a href="{% url 'sharetools:myTools' %}">My Tools</a>
                                <a href="{% url 'sharetools:allTool' %}">Find a Tool</a>
                            </li>
                        </ul>
                    </li>					
                    <li class="dropdown">
                        <a href="{% url 'sharetools:myProfile' %}" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i> Profile <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'sharetools:myProfile' %}">View</a>
                                <a href="{% url 'sharetools:editProfile' %}">Edit</a>
                                <a href="{% url 'sharetools:logout' %}">Log out</a>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'sharetools:register' %}">Sign up</a>
                    </li>
                    <li>
                        <a href="{% url 'sharetools:login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
    <div id="message-group">
    {% for message in messages %}
        <div class="message alert {% if message.tags %}{{message.tags}}{% endif %}alert-dismissable container" style="...">
            <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Alert: </strong>{{message}}
        </div>
    {% endfor %}
    </div>
    {% endif%}
    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4><i class="fa fa-home"></i> Sheds</h4>
                    <hr> 
                    <ul>
                        <li><a href="{% url 'sharetools:mySheds' %}">My Sheds</a></li>
                        <li><a href="{% url 'sharetools:makeShed' %}">Make New Shed</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4><i class="fa fa-tag"></i> Shares</h4>
                    <hr>
                    <ul>
                        <li><a href="{% url 'sharetools:shares' %}">My Shares</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4><i class="fa fa-gavel"></i> Tools</h4>
                    <hr>
                    <ul>
                        <li><a href="{% url 'sharetools:myTools' %}">My Tools</a></li>
                        <li><a href="{% url 'sharetools:newTool' %}">Make new Tool</a></li>
                        <li><a href="{% url 'sharetools:allTool' %}">Find a tool</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
            <br>
                <p class="text-center text-muted">Coded with <i class="fa fa-heart"></i> by Team 4040</p>
            </div>
        </div>

    {% block scripts %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% endblock %}
  </body>
</html>
