{% extends "base.html" %}

{% load bootstrap %}

{% block title %}TS - Add New Tool{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Edit Tool</h1>
	</div>
</div>

<div class="container">
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="row">
	<form action="{% url 'sharetools:toolEdit' tool.id %}" method="post">{% csrf_token %}
	{{ form | bootstrap }}
      <input type="submit" value="Update" class="btn btn-primary btn-block btn-lg">
	</form>
  </div>
 </div>
</div>
{% endblock %}