{% extends "base.html" %}

{% block title %}TS - Share Center{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container" align="left">
        <h1>My Shares</h1>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Tool requests</div>
        <!-- Table -->
        {% if user_requests %}
        <table class="table">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <thead>
            <th>Requester</th>
            <th>Asset</th>
            <th>Date Requested For</th>
            </thead>
            <tbody>
            <form method="post" name="verifyReq" action="{% url 'sharetools:shares' %}">
                {% csrf_token %}
                {% for rq in user_requests %}
                <tr>
                    <td><a href="{% url 'sharetools:profile' rq.borrower.username %}">{{ rq.borrower.username }}</a></td>
                    <td><a href="{% url 'sharetools:tool' rq.asset.id %}">{{ rq.asset.name }}</a></td>
                    <td>{{ rq.loanDate }}</td>
                    <td align="right">

                        <div class="btn-group">
                            {% if rq.asset.isAvailable %}
                            <button type="submit" name="approve" value="{{ rq.id }}" class="btn btn-success">Accept
                            </button>
                            {% else %}
                            <button class="btn btn-default disabled">Borrowed
                            </button>
                            {% endif %}
                            <button type="submit" name="deny" value="{{ rq.id }}" class="btn btn-danger">Deny
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </form>
            </tbody>
        </table>
        {% else %}
        <div class="panel-body">
            <h5 class="text-center text-muted">No Requests</h5>
        </div>
        {% endif %}
    </div>
    <br>

    <div class="panel panel-default">
        <div class="panel-heading">My Current Requests</div>
        {% if user_mypending %}
        <table class="table">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <thead>
            <th>Lender</th>
            <th>Asset</th>
            <th>Date Requested For</th>
            <th>Request Status</th>
            </thead>
            <tbody>
            <form method="post" name="cancelReq" action="{% url 'sharetools:shares' %}">
                {% csrf_token %}
                {% for rq in user_mypending %}
                <tr>
                    <td><a href="{% url 'sharetools:profile' rq.lender.username %}">{{ rq.lender.username }}</a></td>
                    <td><a href="{% url 'sharetools:tool' rq.asset.id %}">{{ rq.asset.name }}</a></td>
                    <td>{{ rq.loanDate }}</td>
                    <td>{{ rq.getStatus }}</td>
                    <td>
                        {% if rq.asset.isAvailable %}
    						{% if rq.getStatus = 'Denied' %}
                                <button type="submit" name="cancel" value="{{ rq.id }}" class="btn btn-danger">Delete</button>
    						{% else %}
    						    <button type="submit" name="cancel" value="{{ rq.id }}" class="btn btn-danger">Cancel</button>
    						{% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </form>
            </tbody>
        </table>
        {% else %}
        <div class="panel-body">
            <h5 class="text-center text-muted">No Requests</h5>
        </div>
        {% endif %}
    </div>
    <br>

    <div class="panel panel-default">
        <div class="panel-heading">Currently Lent</div>
        {% if user_current %}
        <table class="table">
            <col width="20">
            <col width="20">
            <col width="20">
            <col width="20">
            <thead>
            <th>Borrower</th>
            <th>Asset</th>
            <th>Date Borrowed</th>
            </thead>
            <tbody>
            {% for rq in user_current %}
            <div class="modal fade" id="RateModal{{ rq.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="RateModal{{rq.id}}"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="Rate">Rate This Interaction</h4>
                        </div>
                        <form role="form" method="post" action="{% url 'sharetools:shares' %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-success">
                                            <input type="radio" name="options" id="up" value="true" required><span
                                                class="glyphicon glyphicon-thumbs-up"></span>
                                        </label>
                                        <label class="btn btn-danger">
                                            <input type="radio" name="options" id="down" value="false" required><span
                                                class="glyphicon glyphicon-thumbs-down"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input_area">Comments:</label>
                                    <textarea type="text" class="form-control" id="input_area" name="comment"
                                              placeholder="Describe the Interaction" style="max-width:100%;"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button id="formSubmit" type="submit" name="return" value="{{rq.id}}" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <tr>
                <td><a href="{% url 'sharetools:profile' rq.borrower.username %}">{{ rq.borrower.username }}</a></td>
                <td><a href="{% url 'sharetools:tool' rq.asset.id %}">{{ rq.asset.name }}</a></td>
                <td>{{ rq.loanDate }}</td>
                <td align="right">

                    <button data-toggle="modal" data-target="#RateModal{{rq.id}}" class="btn btn-primary">
                        Mark as Returned
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="panel-body">
            <h5 class="text-center text-muted">No Shares</h5>
        </div>
        {% endif %}
    </div>
    <br>

    <div class="panel panel-default">
        <div class="panel-heading">Previously Lent</div>
        {% if user_former %}
        <table class="table">
            <col width="20">
            <col width="20">
            <col width="20">
            <col width="20">
            <thead>
            <th>Borrower</th>
            <th>Asset</th>
            <th>Date Borrowed</th>
            <th>Date Returned</th>
            </thead>
            <tbody>
            {% for rq in user_former %}
            <tr>
                <td><a href="{% url 'sharetools:profile' rq.borrower.username %}">{{ rq.borrower.username }}</a></td>
                <td><a href="{% url 'sharetools:tool' rq.asset.id %}">{{ rq.asset.name }}</a></td>
                <td>{{ rq.loanDate }}</td>
                <td>{{ rq.returnDate }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="panel-body">
            <h5 class="text-center text-muted">No Shares</h5>
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}
