{% extends "base.html" %}

{% block title %}TS - {{ location.name }}{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>
			{% if location.isPrivate %}
			<i class="fa fa-lock"></i>
			{% endif %}
			{{ location.name }}
		</h1>
	</div>
</div>
<div class="container">
	{% if not isMember and not inviteOnly %}
	<div class="bs-callout bs-callout-info">
		<h4><i class="glyphicon glyphicon-exclamation-sign"></i> You are not a member of this shed</h4>
		<p>If you would like to be, you can request to become a member in the side bar.</p>
	</div>
	{% elif not isMember and inviteOnly %}
	<div class="bs-callout bs-callout-info">
		<h4><i class="glyphicon glyphicon-exclamation-sign"></i> You are not a member of this shed</h4>
		<p>This shed is not currently looking for new members to share with.</p>
	</div>
	{% endif %}
	<div class="col-lg-8">
		{% if location.isPrivate and not isMember %}
		<div class="well well-lg">
			<h3 class="text-center text-muted"><i class="fa fa-lock"></i></h3>
		</div>
		{% else %}
		<div class="row">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Description</th>
	
							{% if location.isCommunity %}
							<th>Owner</th>
							{% endif %}
							<th>Available</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{% for asset in assets %}
						<tr>
							<td>{{ asset.name }}</td>
							<td>{{ asset.type }}</td>
							<td>{{ asset.description|truncatechars:20 }}</td>
							{% if location.isCommunity %}
							<td>{{ asset.owner.username }}</td>
							{% endif %}
							<td><i class="
							{% if asset.isAvailable %}
							glyphicon glyphicon-ok
							{% else %}
							glyphicon glyphicon-remove
							{% endif %}
							"></i>
							</td>
							<td><a type="button" class="btn btn-primary" href="{% url 'sharetools:tool' asset.id %}">View</a></td>
						</tr>
					{% empty %}
					{% endfor %}
					</tbody>	
				</table>
				{% if not assets %}
				<div class="well well-lg">
					<h3 class="text-center text-muted">This shed has no tools :(</h3>
				</div>
				{% endif %}
			</div>
		</div>
		{% endif %}
	</div>
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">About</h3>
			</div>
			<div class="panel-body">
				<p>{{ location.description }}</p>
				<hr>
				{% if location.address %}
				<img class="img-responsive" src="http://maps.googleapis.com/maps/api/staticmap?center={{ location.address.zipcode }}&zoom=13&size=400x400&sensor=false" />
				<p><strong>Location: </strong>{{ location.address.city }}, {{ location.address.state }}</p>
				{% else %}
				<p><strong>Location: </strong>Not Available</p>
				{% endif %}
			</div>
			<div class="panel-footer">
				{% if membership %}
					<a href="{% url 'sharetools:moveTool' location.id %}"<button type="button" class="btn btn-primary btn-block">
					<span class="glyphicon glyphicon-plus"></span></button> Add a Tool
					</a>
					{% if membership.role == membership.ADMIN %}
					<a href="{% url 'sharetools:shedAdmin' location.id %}"<button type="button" class="btn btn-default btn-block">
					<span class="glyphicon glyphicon-pencil"></span></button> Manage this Shed
					</a>
					
					{% elif membership.role = membership.REQUEST %}
					<a href="#" class="btn btn-default btn-block disabled" role="button">Request Sent</a>
					{% endif %}
				{% elif not location.inviteOnly and not membership %}
		
				<form name="requestMembership" action="{% url 'sharetools:shed' location.id %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="requestMembership" value="1">
					<input type="submit" value="Request Membership" class="btn btn-success btn-block">
				</form>
				{% endif %}
				<hr></hr>
				Created by <a href="{% url 'sharetools:profile' location.owner %}">{{ location.owner.username }}</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}