{% extends "base.html" %}

{% block title %}TS - Share Center{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container" align="left">
        <h1>My Shares</h1>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Tool requests</div>
        <!-- Table -->
        {% if user_requests %}
        <table class="table">
            {% for rq in user_requests %}
            <tr>
                <td>{{ rq.borrower }}</td>
                <td>{{ rq.asset.name }}</td>
                <td align="center">{{ rq.loanDate }}</td>
                <td align="right">
                    <div class="btn-group">
                        <a type="button" class="btn btn-success"
                           href="{% url 'sharetools.views.tool_review_view' rq.id 1 %}">Accept</a>
                        <a type="button" class="btn btn-danger"
                           href="{% url 'sharetools.views.tool_review_view' rq.id 0 %}">Deny</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <br>
    {% if user_mypending %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">My Pending Requests</div>
        <!-- Table -->
        <table class="table">
            {% for rq in user_mypending %}
            <tr>
                <td>{{ rq.borrower }}</td>
                <td>{{ rq.asset.name }}</td>
                <td>{{ rq.loanDate }}</td>
                {% if rq.status == 0 %}
                <td>{{ rq.STATUS_CHOICES.0.1 }}</td>
                {% elif rq.status == 1 %}
                <td>{{ rq.STATUS_CHOICES.1.1 }}</td>
                {% elif rq.status == 2 %}
                <td>{{ rq.STATUS_CHOICES.2.1 }}</td>
                {% elif rq.status == 3 %}
                <td>{{ rq.STATUS_CHOICES.3.1 }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    {% endif %}
    {% if user_current %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Currently Lent</div>
        <!-- Table -->
        <table class="table">
            {% for rq in user_current %}
            <tr>
                <td>{{ rq.borrower }}</td>
                <td>{{ rq.asset.name }}</td>
                <td>{{ rq.loanDate }}</td>
                <td align="right">
                    <a type="button" class="btn btn-primary"
                       href="{% url 'sharetools.views.shares_return_view' rq.id %}">Mark as Returned</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    {% endif %}
    {% if user_former %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Previously Lent</div>
        <!-- Table -->
        <table class="table">
            {% for rq in user_former %}
            <tr>
                <td>{{ rq.borrower }}</td>
                <td>{{ rq.asset.name }}</td>
                <td>{{ rq.loanDate }}</td>
                <td>{{ rq.returnDate }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    {% endif %}
</div>
{% endblock %}