{% extends "base.html" %}
{% load bootstrap %}


{% block title %}TS - {{ location.name }} Administration {% endblock %}

{% block styles}

{% block content %}

<div>

<form action="{% url 'sharetools:shedAdmin' location.id%}" method="post">{% csrf_token %}
{{ memberForm | bootstrap }}
<input type="submit" value="Add" class="btn btn-primary btn-block btn-lg">

<form action="{% url 'sharetools:shedAdmin' location.id%}" method="post">{% csrf_token %}
{{ editForm | bootstrap }}
<input type="submit" value="Update" class="btn btn-primary btn-block btn-lg">



</div>
<div class="container">

</div>
{% endblock %}