{% extends "base.html" %}

{% load bootstrap %}

{% block title %}TS - Edit Profile{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Edit Profile -  {{user_name}} </h1>
	</div>
</div>

<div class="container">
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">


			<form action="{% url 'sharetools:editProfile' %}" method="post">{% csrf_token %}
		{{ form | bootstrap }}
	<div class="panel-footer">
				<input type="submit" value="Update" class="btn btn-primary btn-block btn-lg">
	</div>

			</form>

</div>


</div>
{% endblock %}