{% extends 'base.html' %}

{% load bootstrap %}

{% load staticfiles %}

{% block title %}TS - New Shed{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Create Shed</h1>
        <p>Registering a new shead is super simple.  Fill out the form below and get sharing!</p>
    </div>
</div>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" action="{% url 'sharetools:makeShed' %}">
                    {% csrf_token %}
                    {{ shed_form | bootstrap }}
                    {{ address_form | bootstrap }}
                    <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg">
                </form>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}