{% extends "base.html" %}

{% block title %}TS - My Tools{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>My Tools</h1>
	</div>
</div>
<div class="container">
    <div class="row">
			<a href="{% url 'sharetools:newTool' %}"<button type="button" class="btn btn-primary">Create New Tool</button></a>
	</div>
    <br>
	{% if assets %}
	<div class="row">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Description</th>
						<th>Owner</th>
						<th>Availability</th>
                        <th>View</th>
					</tr>
				</thead>
				<tbody>
				{% for asset in assets %}
					<tr>
						<td>{{ asset.name }}</td>
						<td>{{ asset.type }}</td>
						<td>{{ asset.description|truncatechars:20 }}</td>
						<td>{{ asset.owner.username }}</td>
						<td>{{ asset.isAvailable }}</td>
                        <td><a href="{% url 'tool' asset.id %}"<button type="button" class="btn btn-primary btn-block">
							<span class="glyphicon glyphicon-wrench"></span></button>
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% else %}
	<div class="well well-lg">
		<h3 class="text-center text-muted">You have no tools :(</h3>
	</div>
	{% endif %}

</div>
{% endblock %}